@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    list-style: none;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2E8CF;
}
.main{
    width: 850px;
    min-height: 520px;
    border-radius: 15px;
    background-color: #162719;
    color: #F2E8CF;
    padding-inline: 2%;
    padding-block: 1.5%;
    box-shadow: 0px 0px 3px rgb(196, 194, 194);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 1px;
   font-size: 35px;
}

/* Input css */

.input-container {
    position: relative;
    width: 100%;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1.2px dotted #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    background-color: transparent;
    color: white;
}

label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    color: gray;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background-color: #162719;
}

input:focus,
input:not(:placeholder-shown) {
    border-color: #facd5c;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: #f7d889;
}

/* input{
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: 1px 1px 3px #f0cb6d,-1px -1px 3px #f0cb6d;
    background-color: transparent;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    padding-left: 20px;
    font-weight: 400;
} */
.se{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
   background-color: transparent;
    border: 1px solid #F2E8CF;
    font-weight: 600;
}
.se i{
    font-size: 18px;
}
.se:active{
    background-color: #F2E8CF;
    color: black !important;
}
ul{
    margin-top: 50px;
}
li{
    position: relative;
    height: 73px;
    margin-top: 20px;
    padding-inline: 20px;
    color: white;
    /* border: 1px solid #F2E8CF; */
    border: none;
    border-radius: 20px;
    padding-top: 25px;
    box-shadow: 1px 1px 2px #f3db9d;
    font-size: 20px;
}
#dealall{
    height: 40px;
    border-radius: 10px;
    background-color: #F2E8CF;
    font-weight: 500;
    width: 130px;
    margin-top: 17px;
    border: none;
    font-size: 14px;
    color: black;
    margin-left: 10px;
    display: none;
    &:hover{
        background-color: transparent;
        border: 1px solid #F2E8CF;
        color: white;
    }
}
.fa-solid.fa-pencil{
    top: 26px;
    position: absolute;
    right: 52px;
    font-size: 20px;
}
.fa-solid.fa-xmark{
    position: absolute;
    right: 20px;
    top: 23px;
    font-size: 27px;
}
.fa-solid.fa-check{
    position: absolute;
    right: 85px;
    top: 23.1px;
    font-size: 27px;
}
.fa-solid-fa-check:active,.fa-solid.fa-xmark:active ,.fa-solid.fa-pencil:active{
    transition: 0.5px ease-in;
 transform: translateY(-4px) !important;
}
i{
    color: #F2E8CF;
}
.Edit{
    margin-top: 50px;
    width: 155px;
    height: 75px;
    padding-inline: 2%;
    padding-block: 10px;
    border-radius: 5px;
    line-height: 25px;
    font-size: 18px;
    background-color: #F2E8CF;
    display: none;
    color: black;
}
.Edit p{
    font-size: 16px;
}
.Edit h2{
    margin-top: 10px;
    font-size: 18px;
    position: relative;
    right: 5px;
    font-weight: 600;
}
.records{
    display: flex;
    justify-content: space-evenly;
}


@media(max-width:550px){
    .main{
        width: 100%;
        border-radius: 0px;
        padding-block: 20px;
    }
    h1{
        font-size: 30px;
        color: white;
    }
    input{
        width: 85%;
        height: 35px;
    }
        .se {
            width: 30px;
            height: 30px;
            margin-left: 10px;
    }
    .Edit {
        width: 105px;
        height: 65px;
        padding-block: 5px;
    }
    body{
        background-color: white;
        display: block;
    }
} 


